<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign:</strong>
  <%= @contract.campaign %>
</p>

<p>
  <strong>User:</strong>
  <%= @contract.user %>
</p>

<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
