<%= content_for :header do %>
  <div id="splash-header" class="page-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center m-auto" style="width: 500px;">
            <h1 style="font-weight: 600;">Want to Earn More Money For Your Rides?</h1>
            <h3 style="font-weight: 400;">Here’s The #1 Secret That Uber Drivers Are Using to Triple Their Income…</h3>
            <br>
            <%= link_to '#main', class: 'btn btn-outline-neutral btn-round' do %>
              <i class="fa fa-angle-double-down"></i>Learn More
            <% end %>
            <%= link_to 'Request Access', request_path, class: 'btn btn-outline-neutral btn-round' %>
        </div>
    </div>
  </div>
<% end %>

<div id="main" class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">Oh it gets better...</h2>
              <h5 class="description"><strong>DriveProfit</strong> is partnered with over <strong>250 brands and businesses</strong> that are looking for <strong><u>more exposure.</u></strong></h5>
              <br>
              <%= link_to 'Interested Yet?', request_path, class: 'btn btn-danger btn-round' %>
          </div>
      </div>
      <br><br>
    	<div class="row">
    		<div class="col-md-3">
    			<div class="info">
    				<div class="icon icon-danger">
              <%= fa_icon('picture-o') %>
    				</div>
    				<div class="description">
    					<h4 class="info-title">Beautiful Gallery</h4>
    					<p class="description">Spend your time generating new ideas. You don't have to think of implementing.</p>
    					<a href="#pkp" class="btn btn-link btn-danger">See more</a>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="info">
    				<div class="icon icon-danger">
              <%= fa_icon('lightbulb-o') %>
    				</div>
    				<div class="description">
    					<h4 class="info-title">New Ideas</h4>
    					<p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
    					<a href="#pkp" class="btn btn-link btn-danger">See more</a>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="info">
    				<div class="icon icon-danger">
              <%= fa_icon('bar-chart') %>
    				</div>
    				<div class="description">
    					<h4 class="info-title">Statistics</h4>
    					<p>Choose from a veriety of many colors resembling sugar paper pastels.</p>
    					<a href="#pkp" class="btn btn-link btn-danger">See more</a>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="info">
    				<div class="icon icon-danger">
    					<%= fa_icon('bank') %>
    				</div>
    				<div class="description">
    					<h4 class="info-title">Delightful design</h4>
    					<p>Find unique and handmade delightful designs related items directly from our sellers.</p>
    					<a href="#pkp" class="btn btn-link btn-danger">See more</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Let's talk about us</h2>
	  <div class="row">
			<div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar"><%= image_tag 'faces/clem-onojeghuo-3.jpg' %>></a>
          </div>
          <div class="card-body">
            <a href="#paper-kit">
                <div class="author">
                    <h4 class="card-title">Henry Ford</h4>
                    <h6 class="card-category">Product Manager</h6>
                </div>
            </a>
            <p class="card-description text-center">
            Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
			</div>
			<div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar">
              <%= image_tag 'faces/joe-gardner-2.jpg' %></a>
          </div>
          <div class="card-body">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Sophie West</h4>
                <h6 class="card-category">Designer</h6>
              </div>
            </a>
            <p class="card-description text-center">
            A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
            </p>
          </div>
          <div class="card-footer text-center">
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
            <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
			</div>
			<div class="col-md-4">
                  <div class="card card-profile card-plain">
                      <div class="card-avatar">
                          <a href="#avatar"><%= image_tag 'faces/erik-lucatero-2.jpg' %>></a>
                      </div>
                      <div class="card-body">
                          <a href="#paper-kit">
                              <div class="author">
                                  <h4 class="card-title">Robert Orben</h4>
                                  <h6 class="card-category">Developer</h6>
                              </div>
                          </a>
                          <p class="card-description text-center">
                          The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                          </p>
                      </div>
                      <div class="card-footer text-center">
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                          <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                      </div>
                  </div>
			</div>
		</div>
  	</div>
</div>

      <div class="section landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                      <h2 class="text-center">Ready to Start?</h2>
                      <%= link_to 'Sign me Up!', request_path, class: 'btn btn-danger btn-lg btn-fil mt-3' %>
                  </div>
              </div>
          </div>
      </div>
  </div>
