<%= content_for :header do %>
  <div id="splash-header" class="page-header" data-parallax="true">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center m-auto" style="width: 500px;">
            <h1 style="font-weight: 600;">Want to Earn More Money For Your Rides?</h1>
            <h3 style="font-weight: 400;">Here’s The #1 Secret That Uber Drivers Are Using to Triple Their Income…</h3>
            <br>
            <%= link_to '#main', class: 'btn btn-outline-neutral btn-round' do %>
              <i class="fa fa-angle-double-down"></i>Learn More
            <% end %>
            <%= link_to 'Request Access', request_path, class: 'btn btn-outline-neutral btn-round' %>
        </div>
    </div>
  </div>
<% end %>

<div id="main" class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
              <h2 class="title">Oh it gets better...</h2>
              <h5 class="description"><strong>DriveProfit</strong> is partnered with over <strong>250 brands and businesses</strong> that are looking for <strong><u>more exposure.</u></strong></h5>
              <br>
              <%= link_to 'Interested Yet?', request_path, class: 'btn btn-danger btn-round' %>
              <hr>
              <h5>Imagine getting paid to advertise your favorite brands… <strong>IN YOUR CAR</strong></h5>
              <br>
              <p>
All you need to do is have those advertisements clearly visible to your riders. This can range from stickers, drinks, snacks, physical products, shirts, hats, and more!</p>
          </div>
      </div>
      <br><br>
    	<div class="row">
    		<div class="col-md-3">
    			<div class="info">
            <%= fa_icon('picture-o 4x', class: 'text-danger d-inline') %>
    				<div class="description">
    					<h4 class="info-title">Brand Sponsorships</h4>
    					<p class="description">Become a sponsor for your favorite brands and promote their products</p>
    					<%= link_to 'Get Started', request_path, class: 'btn btn-link btn-danger' %>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="info">
            <%= fa_icon('lightbulb-o 4x', class: 'text-danger d-inline') %>
    				<div class="description">
    					<h4 class="info-title">Better Reviews</h4>
    					<p>Give your riders a luxury experience they will never forget</p>
    					<%= link_to 'Get Started', request_path, class: 'btn btn-link btn-danger' %>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="info">
            <%= fa_icon('bar-chart 4x', class: 'text-danger d-inline') %>
    				<div class="description">
    					<h4 class="info-title">Paid By The Mile</h4>
    					<p>Get paid on top of your Uber income!</p>
    					<%= link_to 'Get Started', request_path, class: 'btn btn-link btn-danger' %>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-3">
    			<div class="info">
            <%= fa_icon('bank 4x', class: 'text-danger d-inline') %>
    				<div class="description">
    					<h4 class="info-title">Commission on Every Sale</h4>
    					<p>Make generous income from your effortså</p>
    					<%= link_to 'Get Started', request_path, class: 'btn btn-link btn-danger' %>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">What our users are saying...</h2>
	  <div class="row">
			<div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar"><%= image_tag 'faces/clem-onojeghuo-3.jpg' %>></a>
          </div>
          <div class="card-body">
            <a href="#paper-kit">
                <div class="author">
                    <h4 class="card-title">Jeff Chambers</h4>
                </div>
            </a>
            <p class="card-description text-center">
            I love being able to give my riders free drinks during my drives! It always gets them in a good mood and often leads to really good tips.
            </p>
          </div>
        </div>
			</div>
			<div class="col-md-4">
        <div class="card card-profile card-plain">
          <div class="card-avatar">
            <a href="#avatar">
              <%= image_tag 'faces/joe-gardner-2.jpg' %></a>
          </div>
          <div class="card-body">
            <a href="#paper-kit">
              <div class="author">
                <h4 class="card-title">Sophie West</h4>
              </div>
            </a>
            <p class="card-description text-center">
            Yesterday I drove a group of 4 ladies to the airport who fell in love with my hat! They ended up buying 4 of them from my sponsor and made commission for it! Thank you!
            </p>
          </div>
        </div>
			</div>
			<div class="col-md-4">
        <div class="card card-profile card-plain">
            <div class="card-avatar">
                <a href="#avatar"><%= image_tag 'faces/erik-lucatero-2.jpg' %>></a>
            </div>
            <div class="card-body">
                <a href="#paper-kit">
                    <div class="author">
                        <h4 class="card-title">Robert Orben</h4>
                    </div>
                </a>
                <p class="card-description text-center">
                I honestly didn’t realize the potential of how much money I could make from this. I’ve nearly doubled my income from last month…
                </p>
            </div>
        </div>
			</div>
		</div>
  	</div>
</div>
<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h1 class="text-center">Are you ready yet?</h1>
                <br>
                <p>
                  Give your riders a <span class="text-success">luxury experience</span> that they will remember and watch your ratings <strong>skyrocket</strong>. You will become a respected and valued sponsor for each brand you work with.
                </p>
                <br>
                <h4>So.. how do you get paid?</h4>
                <br>
                <p>All products will contain a discount code that your riders can use to claim coupons or redeem offers from your brands.</p>
                <p>You will be paid for every mile you drive, on top of what you are making with Uber. You will ALSO get commission every time someone buys a product using your unique code!</p>
                <h3>We only have <span class="text-success" style="font-size: 20px;"></span>20 spots left  before we close this off…</h3>
                <br>
                <p>Don’t miss out on the opportunity to grow your UBER business, get endless 5 star reviews, and triple your income!</p>
            </div>
        </div>
    </div>
</div>
<hr>
      <div class="section landing-section">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto text-center">
                      <h2 class="text-center">Ready to Start?</h2>
                      <%= link_to 'Sign me Up!', request_path, class: 'btn btn-danger btn-lg btn-fil mt-3' %>
                  </div>
              </div>
          </div>
      </div>
  </div>
